// 구글폰트 url
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

// 컬러를 재사용하기 위해
:root {
  --primary-color: #007af3;
}

// body selector
body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

// .navbar = navbar class를 가져오는것
.navbar {
  background: white;
  padding: 1em;

  // scss에서 사용할 수 있는 기능
  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.3em;
  }

  span {
    color: var(--primary-color); // :root에서 선언한 --primary-color를 사용한다
  }

  nav {
    display: none; // display 숨기기
  }

  .container {
    display: flex;
    place-content: space-between; //메뉴바를 우측 끝으로
  }

  .mobile-menu {
    cursor: pointer; // 포인트 커서 생성
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.hero span {
  color: var(--primary-color);
}

.left-col {
  .subhead {
    text-transform: uppercase; // 대문자로 바꾸기
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em; // 글자 간격
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em; // 위아래 글자간격
    margin-top: 0.2em; // 위로
  }

  .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none; // 밑줄 없애기
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

section.features-section {
  background: #20272e;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  //화면에 따라 정렬되도록
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

  li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;

    // li:before과 같은역활
    &:before {
      content: "";
      left: -2em;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../images/bullet.svg);
      background-size: contain;
      margin-right: 0.5em;
    }
  }
}

//이미지 숨기기
.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;

  li {
    background: #006bd6;
    text-align: center;
    padding-left: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
  }

  img {
    width: 5em;
    height: 5em;
    border: 5px solid #006bd6;
    border-radius: 50%; // 이미지 둥글게
    margin-top: -4.5em; // 사진 위로
  }
}

// Contact 폰트사이즈
h2 {
  font-size: 2em;
}

//테두리
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

// 이름, 이메일 box
input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

// 오직 attribute selector[type]만 선택한다
input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

// google embedded code
iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

//화면 고정
nav {
  position: fixed;
  z-index: 999; //위로 배치하기 위해
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

ul.primary-nav {
  margin-top: 5em;
}

li {
  a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;

    //hober기능 추가
    &:hover {
      font-weight: bold;
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

// 768px일때 반응형웹 변경
@media only screen and (min-width: 768px) {
  //메뉴가 사라지도록
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 0.8em;
    }

    ul.primary-nav {
      margin: 0;
    }

    li.current a {
      font-weight: bold;
    }

    li.go-premium-cta a {
      // 프리미엄 컬러
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;

      //hover 기능 추가
      &:hover {
        background: var(--primary-color);
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  // 중앙으로 모이도록
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }

  //hero 왼쪽으로 붙도록
  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 3em 3em 0 5em;

      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }

  //이미지 작아지도록
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }

  .hero-cta {
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }

  ul.features-list {
    display: block;
    margin-left: 5em;

    li {
      font-size: 1.4em;

      &:before {
        width: 30px;
        height: 30px;
      }
    }
  }

  .features-section {
    position: relative;
  }

  //features-section이미지 오른쪽으로 붙이기
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: 2em;
    left: 71em;
  }

  .testimonials-section ul {
    display: flex;

    li {
      margin: 0 1em;
    }
  }

  .contact-section {
    position: relative;

    .container {
      display: flex;
    }
  }

  //지도 위치 바로잡기
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;

    iframe {
      height: 100%;
    }
  }
}

//왼쪽 이미지 생성하기
@media only screen and (min-width: 1450px) {
  .features-section {
    &:before {
      content: "";
      position: absolute;
      width: 10%;
      height: 20em;
      background: var(--primary-color);
      left: 0;
      top: -4em;
    }

    &:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 20em;
      background: url("../images/dots.svg") no-repeat;
      left: 4.5em;
      top: 2em;
    }
  }
}
